<ion-view view-title="Terminreservation">
  <ion-content class="padding">

    <label class="item item-input item-select">
        <div class="input-label">
          Arzt auswählen
        </div>
        <select>
          <option>Dr. Müller Gastroenterologie</option>
          <option>Dr. Franz Viszeralchirurgie</option>
        </select>
      </label>


      <div class="row responsive-lg">
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
      </div>

  </ion-content>
</ion-view>
